# site properties and page defaults
title: Just Sustainability Design Lab
subtitle: (Re)envisioning and creating just and sustainable futures for information technologies 
description:
footer: images/green.png

# site social media and other links
links:
  email: christoph.becker@utoronto.ca
  orcid: 0000-0002-8364-0593
  google-scholar: 4HkpGLgAAAAJ
  github: JustSustainabilityDesign
  mastodon: cbecker
  rss: 
  newsletter:

### jekyll settings

# front matter defaults
defaults:
  # all markdown files
  - scope:
      path: ""
    values:
      layout: default
  # markdown files in /_members
  - scope:
      type: "members"
    values:
      layout: member
  # markdown files in /_posts
  - scope:
      type: "posts"
    values:
      layout: post

collections:
  # generate page for each member
  members:
    output: true
  # generate page for each post
  posts:
    output: true

# jekyll plugins
plugins:
  - jekyll-spaceship
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-last-modified-at

# code block syntax highlighting
highlighter: rouge

# jekyll theme
theme: null

# sass settings
sass:
  sass_dir: _styles

# force jekyll to include certain files/folders
include:
  - _styles
  - _scripts
  
feed:
  icon: fa-solid fa-square-rss
  categories: 
    - news
  

# force jekyll to exclude certain files/folders
exclude:
  - README.md
  - LICENSE.md
  - CITATION.cff
